*{
   box-sizing: border-box;
}

body {
    margin: 0;
}

#puzzel {
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

figure {
    background-color: blue;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin: 1px;
}