*{
   box-sizing: border-box;
}

body {
    margin: 0;
}

#puzzel {
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

figure {
    width: 50px;
    height: 50px;
    margin: 1px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background-color: blue;
}

figure img {
    position: absolute;
    user-select: none;
    pointer-events: none;
}